# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: docker.laniakea.local:8080/backend/server
  pullPolicy: Always
  tag: "latest"

imagePullSecrets:
  - name: regsecret

service:
  type: ClusterIP
  port: 5000

env:
  - name: FLASK_ENV
    value: "production"
  - name: TZ
    value: "UTC"
  - name: LOG_LEVEL_APP
    value: "ERROR"
  - name: DB_HOST
    value: "192.168.254.3"
  - name: DB_PORT
    value: "3306"
  - name: DB_NAME
    value: "upclass"
  - name: VAULT_ADDR
    value: "http://192.168.254.7:8300"
  - name: VAULT_ROLE_ID
    value: "27d489b3-77f1-ad11-a319-ef7293aa335a"
  - name: VAULT_ROLE_SECRET
    value: "027c8c44-905b-cabe-aabf-6ae445c3c784"
  - name: APP_NAME
    value: "backend-service"
  - name: APP_DOMAIN
    value: "upclassedu.com"
  - name: ENV
    value: "prod"
  - name: GEOLOCATION_PATTERN
    value: "http://192.168.254.25:8080/reverse?format=json&lat={LATITUDE}&lon={LONGITUDE}&zoom=18&addressdetails=1"

# Environment variables from ConfigMaps or Secrets
envFrom: []
  # - configMapRef:
  #     name: my-configmap
  # - secretRef:
  #     name: my-secret

serviceAccount:
  create: true
  annotations: {}
  name: "upclass-app-sa"

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

ingress:
  enabled: false

# Health check probes
livenessProbe:
  enabled: true
  httpGet:
    path: /api/status/health
    port: http
  initialDelaySeconds: 30
  periodSeconds: 360
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 3

readinessProbe:
  enabled: true
  httpGet:
    path: /api/status/health
    port: http
  initialDelaySeconds: 10
  periodSeconds: 5
  timeoutSeconds: 3
  successThreshold: 1
  failureThreshold: 3

startupProbe:
  enabled: false
  httpGet:
    path: /api/status/health
    port: http
  initialDelaySeconds: 0
  periodSeconds: 60
  timeoutSeconds: 3
  successThreshold: 1
  failureThreshold: 30

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
