# Default values for upclass.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    nginx.ingress.kubernetes.io/proxy-set-header-Upgrade: "$http_upgrade"
    nginx.ingress.kubernetes.io/proxy-set-header-Connection: "upgrade"
  hosts:
    - host: backend.upclassedu.com
      paths:
        - path: /api
          pathType: Prefix
          backend:
            name: upclass-app
            port:
              number: 5000
    - host: backend.laniakea.local
      paths:
        - path: /api
          pathType: Prefix
          backend:
            service:
              name: upclass-app
              port:
                number: 5000
    - host: flower.laniakea.local
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: upclass-flower
              port:
                number: 5000
    - host: mailerr.laniakea.local
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: upclass-mailerr
              port:
                number: 9999
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local
