# Default values for upclass.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/proxy-http-version: "1.1"
    nginx.ingress.kubernetes.io/proxy-set-header-Upgrade: "$http_upgrade"
    nginx.ingress.kubernetes.io/proxy-set-header-Connection: "upgrade"
  hosts:
    - host: backend.upclassedu.com
      paths:
        - path: /api
          pathType: Prefix
          backend:
            service:
              name: upclass-app
              port:
                number: 5000
    - host: backend.laniakea.local
      paths:
        - path: /api
          pathType: Prefix
          backend:
            service:
              name: upclass-app
              port:
                number: 5000
    - host: flower.laniakea.local
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: upclass-flower
              port:
                number: 5000
    - host: mailerr.laniakea.local
      paths:
        - path: /
          pathType: Prefix
          backend:
            service:
              name: upclass-mailerr
              port:
                number: 9999
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

# App subchart configuration
app:
  fullnameOverride: "upclass-app"
  service:
    port: 5000
  env:
    - name: FLASK_ENV
      value: "production"
    - name: TZ
      value: "UTC"
    - name: LOG_LEVEL_APP
      value: "ERROR"
    - name: DB_HOST
      value: "192.168.254.3"
    - name: DB_PORT
      value: "3306"
    - name: DB_NAME
      value: "upclass"
    - name: VAULT_ADDR
      value: "http://192.168.254.7:8300"
    - name: VAULT_ROLE_ID
      value: "27d489b3-77f1-ad11-a319-ef7293aa335a"
    - name: VAULT_ROLE_SECRET
      value: "027c8c44-905b-cabe-aabf-6ae445c3c784"
    - name: APP_NAME
      value: "backend-service"
    - name: APP_DOMAIN
      value: "upclassedu.com"
    - name: ENV
      value: "prod"
    - name: GEOLOCATION_PATTERN
      value: "http://192.168.254.25:8080/reverse?format=json&lat={LATITUDE}&lon={LONGITUDE}&zoom=18&addressdetails=1"
beat:
  fullnameOverride: "upclass-beat"
  service:
    port: null
  args:
    - celery
    - -A
    - celery_beat
    - beat
    - --loglevel=info
  env:
    - name: TZ
      value: "UTC"
    - name: LOG_LEVEL_WORKER
      value: "ERROR"
    - name: DB_HOST
      value: "192.168.254.3"
    - name: DB_PORT
      value: "3306"
    - name: DB_NAME
      value: "upclass"
    - name: VAULT_ADDR
      value: "http://192.168.254.7:8300"
    - name: VAULT_ROLE_ID
      value: "27d489b3-77f1-ad11-a319-ef7293aa335a"
    - name: VAULT_ROLE_SECRET
      value: "027c8c44-905b-cabe-aabf-6ae445c3c784"
    - name: APP_NAME
      value: "backend-service"
    - name: APP_DOMAIN
      value: "upclass-edu.web.app"
    - name: ENV
      value: "prod"
    - name: GEOLOCATION_PATTERN
      value: "http://192.168.254.25:8080/reverse?format=json&lat={LATITUDE}&lon={LONGITUDE}&zoom=18&addressdetails=1"
    - name: C_FORCE_ROOT
      value: "1"
    - name: PYTHONUNBUFFERED
      value: "1"
worker:
  fullnameOverride: "upclass-worker"
  service:
    port: null
  env:
    - name: TZ
      value: "UTC"
    - name: LOG_LEVEL_WORKER
      value: "ERROR"
    - name: DB_HOST
      value: "192.168.254.3"
    - name: DB_PORT
      value: "3306"
    - name: DB_NAME
      value: "upclass"
    - name: VAULT_ADDR
      value: "http://192.168.254.7:8300"
    - name: VAULT_ROLE_ID
      value: "27d489b3-77f1-ad11-a319-ef7293aa335a"
    - name: VAULT_ROLE_SECRET
      value: "027c8c44-905b-cabe-aabf-6ae445c3c784"
    - name: APP_NAME
      value: "backend-service"
    - name: APP_DOMAIN
      value: "upclass-edu.web.app"
    - name: ENV
      value: "prod"
    - name: GEOLOCATION_PATTERN
      value: "http://192.168.254.25:8080/reverse?format=json&lat={LATITUDE}&lon={LONGITUDE}&zoom=18&addressdetails=1"
    - name: C_FORCE_ROOT
      value: "1"
    - name: PYTHONUNBUFFERED
      value: "1"
flower:
  fullnameOverride: "upclass-flower"
  service:
    port: 5000
  args:
    - celery
    - -A
    - celery_app
    - flower
    - --port=5000
  env:
    - name: TZ
      value: "UTC"
    - name: LOG_LEVEL_WORKER
      value: "ERROR"
    - name: DB_HOST
      value: "192.168.254.3"
    - name: DB_PORT
      value: "3306"
    - name: DB_NAME
      value: "upclass"
    - name: VAULT_ADDR
      value: "http://192.168.254.7:8300"
    - name: VAULT_ROLE_ID
      value: "27d489b3-77f1-ad11-a319-ef7293aa335a"
    - name: VAULT_ROLE_SECRET
      value: "027c8c44-905b-cabe-aabf-6ae445c3c784"
    - name: APP_NAME
      value: "backend-service"
    - name: APP_DOMAIN
      value: "upclassedu.com"
    - name: ENV
      value: "prod"
    - name: C_FORCE_ROOT
      value: "1"
    - name: PYTHONUNBUFFERED
      value: "1"
mailerr-app:
  fullnameOverride: "upclass-mailerr"
  service:
    port: 9999
  env:
    - name: SECRET_KEY
      value: "asdjha7fhf7ewqfsdhfsdfhsfh"
    - name: VAULT_ADDR
      value: "http://picard.laniakea.local:8300"
    - name: VAULT_ROLE_ID
      value: "27d489b3-77f1-ad11-a319-ef7293aa335a"
    - name: VAULT_ROLE_SECRET
      value: "027c8c44-905b-cabe-aabf-6ae445c3c784"
    - name: APP_NAME
      value: "backend-service"
    - name: DB_HOST
      value: "192.168.254.3"
    - name: DB_PORT
      value: "3306"
    - name: DB_NAME
      value: "mailerr"
    - name: REDIS_HOST
      value: "192.168.254.3"
    - name: REDIS_PORT
      value: "6379"
    - name: REDIS_PASSWORD
      value: "password2025"
    - name: GIT_TEMPLATE_REPO
      value: "https://dev.azure.com/upclassedu/upclass-app/_git/projectu.emails"
    - name: GIT_TEMPLATE_USERNAME
      value: "jimbertamante"
    - name: GIT_TEMPLATE_BRANCH
      value: "master"
  envFrom:
    - secretRef:
        name: azuregit

mailerr-worker:
  fullnameOverride: "upclass-mailerr-worker"
  service:
    port: null
  env:
    - name: VAULT_ADDR
      value: "http://picard.laniakea.local:8300"
    - name: VAULT_ROLE_ID
      value: "27d489b3-77f1-ad11-a319-ef7293aa335a"
    - name: VAULT_ROLE_SECRET
      value: "027c8c44-905b-cabe-aabf-6ae445c3c784"
    - name: APP_NAME
      value: "backend-service"
    - name: DB_HOST
      value: "192.168.254.3"
    - name: DB_PORT
      value: "3306"
    - name: DB_NAME
      value: "mailerr"
    - name: REDIS_HOST
      value: "192.168.254.3"
    - name: REDIS_PORT
      value: "6379"
    - name: REDIS_PASSWORD
      value: "password2025"
    - name: REDIS_BROKER_INDEX
      value: "4"
    - name: REDIS_BACKEND_INDEX
      value: "5"
mailerr-beat:
  fullnameOverride: "upclass-mailerr-beat"
  service:
    port: null
  env:
    - name: VAULT_ADDR
      value: "http://picard.laniakea.local:8300"
    - name: VAULT_ROLE_ID
      value: "27d489b3-77f1-ad11-a319-ef7293aa335a"
    - name: VAULT_ROLE_SECRET
      value: "027c8c44-905b-cabe-aabf-6ae445c3c784"
    - name: APP_NAME
      value: "backend-service"
    - name: DB_HOST
      value: "192.168.254.3"
    - name: DB_PORT
      value: "3306"
    - name: DB_NAME
      value: "mailerr"
    - name: REDIS_HOST
      value: "192.168.254.3"
    - name: REDIS_PORT
      value: "6379"
    - name: REDIS_PASSWORD
      value: "password2025"
    - name: REDIS_BROKER_INDEX
      value: "4"
    - name: REDIS_BACKEND_INDEX
      value: "5"
