---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: upclass-prd01
  namespace: argocd
spec:
  project: upclass
  source:
    repoURL: git@github.com:stalemartyr/helm-charts.git
    targetRevision: main
    path: configs/prod
    helm:
      releaseName: upclass-prd01
  destination:
    server: https://kubernetes.default.svc
    namespace: upclass-prd01

  syncPolicy:
    syncOptions:
      - CreateNamespace=true
