# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: docker.laniakea.local:8080/mailerr/workerr
  pullPolicy: Always
  tag: "latest"

imagePullSecrets:
  - name: regsecret

# Command and arguments to run in the container
command: []
args:
  - celery
  - -A
  - beat.celery
  - beat
  - --loglevel=info

service:
  port: null

env:
  - name: VAULT_ADDR
    value: "http://192.168.254.7:8300"
  - name: VAULT_ROLE_ID
    value: "27d489b3-77f1-ad11-a319-ef7293aa335a"
  - name: VAULT_ROLE_SECRET
    value: "027c8c44-905b-cabe-aabf-6ae445c3c784"
  - name: APP_NAME
    value: "backend-service"
  - name: DB_HOST
    value: "192.168.254.3"
  - name: DB_PORT
    value: "3306"
  - name: DB_NAME
    value: "mailerr"
  - name: REDIS_HOST
    value: "192.168.254.8"
  - name: REDIS_PORT
    value: "6379"
  - name: REDIS_PASSWORD
    value: "password2025"
  - name: REDIS_BROKER_INDEX
    value: "4"
  - name: REDIS_BACKEND_INDEX
    value: "5"

# Environment variables from ConfigMaps or Secrets
envFrom: []
  # - configMapRef:
  #     name: my-configmap
  # - secretRef:
  #     name: my-secret

serviceAccount:
  create: true
  annotations: {}
  name: "mailerr-beat-sa"

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}
